<section class="footer" id="order">
    <div class="box-container">
        <div class="box">
            <h3>locations</h3>
            <a href="https://www.google.com/maps/place/Ph%C3%B2ng+Tr%C3%A0+Kh%C3%B4ng+T%C3%AAn/@10.773926,106.6985735,15z/data=!4m5!3m4!1s0x0:0xe5af56c0b5afd3a!8m2!3d10.7739193!4d106.6985774">Việt Nam</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#dishes">Đồ Uống</a>
            <a href="#about">Giới Thiệu</a>
            <a href="#menu">Lịch Diễn</a>
            <a href="#order">Đặt Bàn</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="">+028 3827 3778</a>
            <a href="#" style="text-transform: none;">Gmail: admin@phongtrakhongten.vn</a>
            <a href="https://phongtrakhongten.vn/">Website Phòng Trà Không Tên</a>
            <a href="#">112 lê thánh tôn , Ho Chi Minh City, Vietnam</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="https://www.facebook.com/Khongtenbar/">facebook</a>
        </div>

    </div>
</section>